$color-background: #3B181E;
$color-brand: #ffffff;
$color-text-hover: #000000;
$color-text-opacity: rgba(255, 255, 255, 0.5);
$color-button: #010001;
$color-button-opacity: rgba(0, 0, 0, 0.4);
$color-border: rgba(255, 255, 255, 0.2);

$content-width: 1300px;
$discount-width: 1020px;
$footer-width: 900px;
$tablet-width: 768px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;