@mixin font($size, $height, $spacing, $text-transform, $weight:normal, $style:normal) {
   font-size: $size; 
   font-style: $style;
   font-weight: $weight;
   line-height: $height;
   letter-spacing: $spacing;
   text-transform: $text-transform;
}

@mixin media-mobile-big {
   @media (max-width: $mobile-big-width) { @content; }
}

@mixin media-mobile-middle {
   @media (max-width: $mobile-middle-width) { @content; }
}

@mixin media-tablet {
   @media (max-width: $tablet-width) { @content; }
}

@mixin media-mobile-small {
   @media (max-width: $mobile-small-width) { @content; }
}