@mixin font($size, $height, $spacing, $text-transform, $weight:normal, $style:normal) {
   font-size: $size; 
   font-style: $style;
   font-weight: $weight;
   line-height: $height;
   letter-spacing: $spacing;
   text-transform: $text-transform;
}