.social {
    display: flex;
    &_column {
        flex-direction: column;
        @include media-tablet {
            flex-direction: row;
            justify-content: space-around;
            margin-top: 33px;
        }
    }
    &_row {
        justify-content: center;
    }
}

.social__item {
    &_col {
        margin-bottom: 8px;
        &:last-child {
            margin-bottom: 0;
        }
        @include media-tablet {
            margin-bottom: 0;
            background: $color-background;
            padding: 10px;
            border-radius: 50%;
        }
    }
    &_row {
        margin-right: 30px;
        &:last-child {
            margin-right: 0;
        }
    }
}

.icon {
    display: block;
    width: 27px;
    height: 27px;
    &_instagram {
        background: url('../images/social/inst.svg') center no-repeat;
        &:hover {
            background: url('../images/social/inst-hover.svg') center no-repeat;
            @extend %transition;
        }  
    }
    &_facebook {
        background: url('../images/social/fb.svg') center no-repeat;
        &:hover {
            background: url('../images/social/fb-hover.svg') center no-repeat;
            @extend %transition;
        }
    }
    &_whatsapp {
        background: url('../images/social/whatsapp.svg') center no-repeat;
        &:hover {
            background: url('../images/social/whatsapp-hover.svg') center no-repeat;
            @extend %transition;
        }
    }
    &_vk {
        background: url('../images/social/vk.svg') center no-repeat;
        &:hover {
            background: url('../images/social/vk-hover.svg') center no-repeat;
            @extend %transition;
        }
    }
}