.wrapper {
    max-width: $content-width;
    width: 100%;
    padding: 40px;
    margin: auto;
}

.discount__wrapper {
    max-width: $discount-width;
    width: 100%;
    padding: 40px;
    margin: auto;
}

.footer__wrapper {
    max-width: $footer-width;
    width: 100%;
    padding: 20px 40px 30px;
    margin: auto;
}

